{%- comment -%}
  {%- include nav/links.html 
        nodes = array 
        path = string 
        in_section = value_or_nil
        pages = array
        page = page -%}
  outputs links for non-excluded nodes and their children. The links for an
  inactive node are independent of the path to the current page, but only those
  for top-level nodes are cached.
  
  Sets nav_page_prev and nav_page_next (maybe to nil) for use by nav/toc.html.
{%- endcomment -%}

<ul class="nav-list">
{%- for node in include.nodes -%}
  
  {%- if node.url == include.page.url and site.nav_next_prev -%}
    {%- assign nav_page_prev = nil -%}
    {%- unless forloop.first -%}
      {%- assign nav_prev_index = forloop.index0 | minus: 1 -%}  
      {%- assign nav_prev_node = include.nodes[nav_prev_index] -%}
      {%- unless nav_prev_node.parent == nil and nav_prev_node.nav_exclude -%}
        {%- assign nav_page_prev = nav_prev_node -%}
      {%- endunless -%}
    {%- endunless -%}
    {%- assign nav_page_next = nil -%}
    {%- unless forloop.last -%}
      {%- assign nav_next_index = forloop.index0 | plus: 1 -%}
      {%- assign nav_next_node = include.nodes[nav_next_index] -%}
      {%- unless nav_next_node.parent == nil and nav_next_node.nav_exclude -%}
        {%- assign nav_page_next = nav_next_node -%}
      {%- endunless -%}
    {%- endunless -%}
  {%- endif -%}
  
  {%- unless node.nav_exclude == true -%}

{%- capture nav_newline %}
{% endcapture -%}

    {%- assign nav_path =  include.path | append: node.title | append: nav_newline -%}
    {%- if nav_page_path contains nav_path -%}
      {%- assign nav_active = true -%}
    {%- else -%}
      {%- assign nav_active = false -%}
    {%- endif -%}

    {%- if nav_active or site.nav_cache == false or node.parent -%}
      {%- include nav/node.html
            node = node
            path = nav_path
            in_section = include.in_section
            pages = include.pages
            active = nav_active
            page = include.page -%}
    {%- else -%}
      {%- include_cached nav/node_inactive.html
            node = node
            path = nav_path
            in_section = include.in_section
            pages = include.pages
            cached = true -%}
    {%- endif -%}

  {%- endunless -%}
{%- endfor -%}
</ul>
